nav ul {
    display: flex;
}
ul {
    
}
ul li {
    list-style-type: none; 
    
}
li a {
    padding: 10px;
    color: gainsboro;
}
a:hover {
    background-color: rgb(170, 179, 255);
    color: black;
    border-radius: 5px;
}